@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Economica|Indie+Flower|Josefin+Slab|Kaushan+Script|Quattrocento|Pacifico|Dancing+Script|Open+Sans+Condensed:300|Play:700|Permanent+Marker|Lato|Titillium+Web|Libre+Baskerville|Satisfy');

html, body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

p{
	 font-size:160%;
	 text-align:justify;
	 margin:3%;
	 font-family: 'Quattrocento', serif;
}

nav{
	background-color:#261a0d;
	width:100%;
	height:80px;
	position:fixed;
	opacity:.5;
}

/*Start of parallax*/

/*Background-image*/
.inner6{
	margin: 0px;
  	padding: 0px;
	height:100%;
	width:100%;
	background-image:url("final-notes.jpg");
	background-size:cover;
	background-position: center;
	background-attachment:fixed;
	background-repeat: no-repeat;
}
/*End of Background-image*/
/*End of parallax*/



/*Navigation*/

div.container
{
    margin: 0 auto;
	padding-top:30px;
	text-align: center;
	width:100%;
	max-width:100%;
}

div.container a
{	
	font-family: 'Josefin Slab', serif;
	font-size:20px;
    color: white;
    text-decoration: none;
    margin: 0px 0px;
    padding: 5px 30px;
    position: relative;
    z-index: 0;
    cursor: pointer;
	text-align:left;
}

div.pullRight a:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: white;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullRight a:hover:before
{
    width: 100%;
}
/*End of Navigation*/

/*Arrow */

img.head{
  margin: 13% 25% 0% 25%;
  width: 50%;
}

img.arrow {
  width: 20px;
  margin: 9% 40% 0 50%;
  transition: all .2s ease-in-out;
}

img.arrow:hover {
  transform: scale(1.5,1.5);
  cursor: pointer;  
}


/*FINAL Page*/
#midcont {
	background-color: #fff;
	width: 100%;
	overflow-x: hidden;
	min-height: 100vh;
}

#midcont h1 {
	font-size: 5rem;
}
#midcont h2 {
	text-align: center;
	font-size: 90px;
}
#midcont h3 {
	font-size: 2rem;
}
#midcont p, li, br, ol{
	font-size: 25px;
}
#midcont a {
	text-decoration: none;
}
#midcont p, li, ol{
	 
	 line-height:210%;
	 text-align:justify;
	 margin:3%;
	 font-family: 'Quattrocento', serif;
}


/** CONTENT **/
.CSS {
	text-indent:50px;
	float: center;
	background-color: #E8E8E8;
}
.CSS h2{
	font-family: 'Dancing Script', cursive;
	background-image:url("image6.jpg");
	color: white;
}

#header h2{
	text-decoration: none;
	text-align: center;
	font-size: 40px;

}
/** WRAPPER **/
/* Main Content */
main {
    padding: 30px 30px;
    color: #000000;
}

main #wrapper {
    background-color: #ffff;
    padding: 40px 60px;
    min-height: 500px;

}

#wrapper h1 {
    margin-bottom: 30px;
    text-align: center;
}

#wrapper h2 {
    margin: 20px 0;
}

#wrapper li {
    margin: 2px 0;
	 text-align:justify;
	 font-family: 'Quattrocento', serif;
}

/** Java Script **/
main2 {
    padding: 30px 40px;
    color: #36454f;
}

main2 #topic-wrapper {
    background-color: #ffff;
    padding: 40px 60px;
    min-height: 500px;
        margin-right: 10px;
}

#topic-wrapper h1 {
    margin-bottom: 30px;
    text-align: center;

}

#topic-wrapper h2 {
    margin: 20px 0;
}

#topic-wrapper ul {
    margin-left: 50px;
}

#topic-wrapper li {
    margin: 5px 0;
    color: #000000;
}
/*END of FINAL Page*/

/*Footer*/
footer{
	background-color:#261a0d;
	height:180px;
	
}

footer p{
	text-align:center;
	color:white;
	padding:50px;
}
/*End of footer*/